div .smallbox{
    border-radius: 10px;
    border: 1px solid white;
    padding: 20px;
    width: 300px;
    height: 150px;
    margin-bottom: 30px;
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
}

div .smallbox:hover{
    background-color: black;
}

h2#title{
    margin-top:20px;
}
