

h2#bigtitle{
    margin-top:20px;
    margin-bottom:0px;
    display: inline-block;
    
}

div .hugebox{
    border-radius: 10px;
    border: 1px solid white;
    padding: 20px;
    max-width: 90%;
    width: 500px;
    height: 300px;
    margin-bottom: 30px;
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
}

img#bigicon {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}


p#hb {
    color:#C9D1D9;
    font-size: 19px;
}